{% extends "layout.html" %}
{% block body %}
  <div class="breadcrumb">{{ data.title }}</div>

  <div class="list-group">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Group name">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">ADD</button>
      </span>
    </div>
  </div>

	<div class="list-group">
	  <button type="button" class="list-group-item">Cras justo odio<span class="badge">14</span></button>
	  <button type="button" class="list-group-item">Dapibus ac facilisis in<span class="badge">13</span></button>
	  <button type="button" class="list-group-item">Morbi leo risus<span class="badge">2</span></button>
	  <button type="button" class="list-group-item">Porta ac consectetur ac<span class="badge">1</span></button>
	  <button type="button" class="list-group-item">Vestibulum at eros<span class="badge">5</span></button>
	</div>
{% endblock %}