{% extends "layout.html" %}
{% block body %}
<div class="breadcrumb">{{ data.title }}</div>
<div class="list-group">
	<form class="form-inline">
	  <div class="form-group">
	    <label>Username</label>
	    <input type="text" class="form-control" placeholder="danedoe">
	  </div>
	  <div class="form-group">
	    <label>Email</label>
	    <input type="email" class="form-control" placeholder="jane.doe@example.com">
	  </div>
	  <div class="form-group">
	    <label>Full Name</label>
	    <input type="text" class="form-control" placeholder="Jane Doe">
	  </div>
	  <button type="submit" class="btn btn-default">ADD</button>
	</form>
</div>

{% endblock %}